<!-- <h1>Pickupbot</h1> -->

<div class="intro">
  <p>Hi, I am <strong>Pickupbot</strong>. A Telegram bot that facilitates futsal and other pickup games.
  This page logs all <%= link_to "games", games_path %> that have been played.</p>
</div>

<%= render "stats" %>
