.games-show {
  .header {
    display: none;
  }

  .back {
    @include transition(padding 0.2s ease-in-out);
    color: $base-font-color;
    font-size: 1.4em;
    margin: 0.22em 0 0 -10px;
    padding: 0 0 0 10px;
    position: absolute;

    &:hover {
      padding: 0 10px 0 0;
    }
  }

  .main .bot {
    float: right;
    margin-right: 35%;
    max-width: 400px * 0.65;
    width: 65%;
  }
}
