@import "neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: 1500px;

$small-screen: em(480);
$medium-screen: em(768);
$large-screen: em(992);
$extra-large-screen: em(1280);

$small-screen-up: new-breakpoint(min-width $small-screen);
$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen);

$small-screen-down: new-breakpoint(max-width $small-screen);
$medium-screen-down: new-breakpoint(max-width $medium-screen);
$large-screen-down: new-breakpoint(max-width $large-screen);
$extra-large-screen-down: new-breakpoint(max-width $extra-large-screen);
