@include font-face(icons, 'icons/icons', normal, true);

[class^='icon-'],
[class*=' icon-'] {
  font-family: 'icons' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$icon-trophy: "\e900";
$icon-social-github: "\e901";
$icon-link: "\e005";
$icon-bell: "\e006";
$icon-lock: "\e007";
$icon-unlock: "\e008";
$icon-image: "\e010";
$icon-clock: "\e014";
$icon-watch: "\e015";
$icon-cog: "\e023";
$icon-heart: "\e024";
$icon-reply: "\e039";
$icon-circle-plus: "\e040";
$icon-circle-minus: "\e041";
$icon-square-plus: "\e044";
$icon-square-minus: "\e045";
$icon-square-check: "\e046";
$icon-square-cross: "\e047";
$icon-skip-back: "\e050";
$icon-rewind: "\e051";
$icon-fast-forward: "\e055";
$icon-skip-forward: "\e056";
$icon-repeat: "\e058";
$icon-umbrella: "\e060";
$icon-moon: "\e061";
$icon-thermometer: "\e062";
$icon-drop: "\e063";
$icon-sun: "\e064";
$icon-cloud: "\e065";
$icon-location: "\e070";
$icon-location-2: "\e071";
$icon-map: "\e072";
$icon-head: "\e074";
$icon-reload: "\e080";
$icon-share: "\e081";
$icon-star: "\e093";
$icon-arrow-left: "\e094";
$icon-arrow-right: "\e095";
$icon-arrow-up: "\e096";
$icon-arrow-down: "\e097";
$icon-loader: "\e105";
$icon-trash: "\e109";
$icon-plus: "\e114";
$icon-minus: "\e115";
$icon-check: "\e116";
$icon-cross: "\e117";
$icon-ellipsis: "\e129";

.icon-trophy {
  &::before {
    content: $icon-trophy;
  }
}

.icon-social-github {
  &::before {
    content: $icon-social-github;
  }
}

.icon-link {
  &::before {
    content: $icon-link;
  }
}

.icon-bell {
  &::before {
    content: $icon-bell;
  }
}

.icon-lock {
  &::before {
    content: $icon-lock;
  }
}

.icon-unlock {
  &::before {
    content: $icon-unlock;
  }
}

.icon-image {
  &::before {
    content: $icon-image;
  }
}

.icon-clock {
  &::before {
    content: $icon-clock;
  }
}

.icon-watch {
  &::before {
    content: $icon-watch;
  }
}

.icon-cog {
  &::before {
    content: $icon-cog;
  }
}

.icon-heart {
  &::before {
    content: $icon-heart;
  }
}

.icon-reply {
  &::before {
    content: $icon-reply;
  }
}

.icon-circle-plus {
  &::before {
    content: $icon-circle-plus;
  }
}

.icon-circle-minus {
  &::before {
    content: $icon-circle-minus;
  }
}

.icon-square-plus {
  &::before {
    content: $icon-square-plus;
  }
}

.icon-square-minus {
  &::before {
    content: $icon-square-minus;
  }
}

.icon-square-check {
  &::before {
    content: $icon-square-check;
  }
}

.icon-square-cross {
  &::before {
    content: $icon-square-cross;
  }
}

.icon-skip-back {
  &::before {
    content: $icon-skip-back;
  }
}

.icon-rewind {
  &::before {
    content: $icon-rewind;
  }
}

.icon-fast-forward {
  &::before {
    content: $icon-fast-forward;
  }
}

.icon-skip-forward {
  &::before {
    content: $icon-skip-forward;
  }
}

.icon-repeat {
  &::before {
    content: $icon-repeat;
  }
}

.icon-umbrella {
  &::before {
    content: $icon-umbrella;
  }
}

.icon-moon {
  &::before {
    content: $icon-moon;
  }
}

.icon-thermometer {
  &::before {
    content: $icon-thermometer;
  }
}

.icon-drop {
  &::before {
    content: $icon-drop;
  }
}

.icon-sun {
  &::before {
    content: $icon-sun;
  }
}

.icon-cloud {
  &::before {
    content: $icon-cloud;
  }
}

.icon-location {
  &::before {
    content: $icon-location;
  }
}

.icon-location-2 {
  &::before {
    content: $icon-location-2;
  }
}

.icon-map {
  &::before {
    content: $icon-map;
  }
}

.icon-head {
  &::before {
    content: $icon-head;
  }
}

.icon-reload {
  &::before {
    content: $icon-reload;
  }
}

.icon-share {
  &::before {
    content: $icon-share;
  }
}

.icon-star {
  &::before {
    content: $icon-star;
  }
}

.icon-arrow-left {
  &::before {
    content: $icon-arrow-left;
  }
}

.icon-arrow-right {
  &::before {
    content: $icon-arrow-right;
  }
}

.icon-arrow-up {
  &::before {
    content: $icon-arrow-up;
  }
}

.icon-arrow-down {
  &::before {
    content: $icon-arrow-down;
  }
}

.icon-loader {
  &::before {
    content: $icon-loader;
  }
}

.icon-trash {
  &::before {
    content: $icon-trash;
  }
}

.icon-plus {
  &::before {
    content: $icon-plus;
  }
}

.icon-minus {
  &::before {
    content: $icon-minus;
  }
}

.icon-check {
  &::before {
    content: $icon-check;
  }
}

.icon-cross {
  &::before {
    content: $icon-cross;
  }
}

.icon-ellipsis {
  &::before {
    content: $icon-ellipsis;
  }
}

