ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &%default-ul {
    list-style-type: disc;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }

  &%default-ol {
    list-style-type: decimal;
    margin-bottom: $small-spacing;
    padding-left: $base-spacing;
  }
}

dl {
  @include align-items(flex-start);
  @include display(flex);
  @include flex-wrap(wrap);

  dt {
    @include flex(1 1 50%);
    font-weight: bold;
  }

  dd {
    @include flex(0 0 50%);
  }

  dd,
  dt {
    line-height: 2;
    margin: 0;
  }
}
