.cloud {
  $shadow-x: -5px;
  $shadow-y: 15px;

  background: $white;
  box-shadow: $shadow-x $shadow-y 0 $gray-dark;
  font-size: 1.2em;
  margin-bottom: $small-spacing;
  padding: 30px 20px;
  position: relative;
  width: 100%;

  &.arrow {
    margin-bottom: 20vw;

    &::before,
    &::after {
      content: '';
      display: block;
      height: 30vw * 1.2827586207;
      left: 60%;
      mask: url('cloud-arrow.svg') no-repeat top;
      mask-size: cover;
      max-height: 186px;
      max-width: 145px;
      position: absolute;
      top: calc(100% - 1px);
      width: 30vw;
    }

    &::before {
      background-color: $gray-dark;
      margin: #{$shadow-y} 0 0 #{$shadow-x};
    }

    &::after {
      background-color: $white;
    }
  }
}
