.stats {
  $gutter: 0.5em;
  $shadow: 0.15em;

  display: flex;
  flex-wrap: wrap;
  font-size: 1em;
  justify-content: center;
  line-height: 1.2;
  margin-top: $gutter;

  @include media ($medium-screen-up) {
    font-size: 0.5em;
    flex-wrap: nowrap;
  }

  .cloud {
    @include clearfix;
    box-shadow: -$shadow $shadow 0 rgba($gray-dark, 0.2);
    box-sizing: border-box;
    flex: 1 0 auto;
    margin: 0 $gutter / 2 $gutter;
    padding: 1em;
    width: auto;

    @include media ($medium-screen-up) {
      flex: 0 0 auto;
    }
  }

  a.cloud {
    color: $base-font-color;
    transition: all $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
      background: $blue;
      color: $white;
    }
  }

  .large {
    float: left;
    font-size: 2.8em;
    font-weight: 700;
    margin: -0.2em 0 -0.2em -0.06em;
    padding-right: 0.1em;
    letter-spacing: -0.04em;
  }

  .large-aside {
    float: left;
  }
}

.static_pages-home .upcoming .game {
  width: auto;
  margin: 0 0.25em 0.5em;
}
