@charset "utf-8";

@import "normalize-rails";
@import "leaflet";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "maps";

@import "components/base";
@import "views/base";


// MISC STYLING ////////////////////////////////

body {
  padding: 20px;

  @include media ($medium-screen-up) {
    padding: 40px;
  }
}

.header {
  font-size: 0.7em;
  font-weight: 700;
  text-align: center;

  .bot {
    display: inline-block;
    min-width: 70px;
    vertical-align: middle;
    width: 2em;
  }
}

.main {
  @include clearfix;
}

.intro {
  margin: $small-spacing auto;
  max-width: $max-width;
  text-align: center;
}

.footer {
  font-size: 0.4em;
  font-weight: 700;
  margin-top: $base-spacing;
  opacity: 0.3;
  text-align: center;
  transition: opacity $base-duration $base-timing;

  &:hover {
    opacity: 0.7;
  }
}

.github-ribbon {
  img {
    border: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
