<footer class="footer">
  Build by the <a href="http://www.learningspaces.io">LearningSpaces</a> team. Source available on <a href="https://github.com/DefactoSoftware/PickupGameBot">GitHub</a>
</footer>
